body {
    margin: 0;
    
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.header {
    /* background-color: #1F2937; */
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid red;
    margin: 0;
    width: 800px;
    justify-content: space-between;
    
}

.header-logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
    border: 1px solid red;
    display: flex;
    align-items: center;
  }

  .head-link-text {
    color: white;
    border: 1px solid red;
  }

  .right-links {
    display: flex;
    gap: 16px;
    border: 1px solid red;
  }

  a {
    text-decoration: none; 
    border: 1px solid red;
  }

  ul {
    list-style-type: none;
    border: 1px solid red;
  }

  .text1 {
    color: #f9faf8;
    border: 1px solid red;
    font-size: 48px;
    margin-bottom: 10px;
  }

  .text2 {
    color: rgb(229, 231, 235);
    border: 1px solid red;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .sign-up {
    color: white;
    border: 1px solid red;
    background-color: #3882F6;
  }

  .image-placeholder1 {
    background-color: grey;
    color: white;
    
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid red;
  }

  .section1-part2 {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    border: 1px solid red;
  }

  .sec1-p2-left {
    width: 400px;
    border: 1px solid red;
  }
  
  

  .section2-test{
    background-color: white;
    border: 1px solid red;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    align-items: center;
    /* justify-content: center; */
    height: 400px;
  }

  .some-info {
    border: 1px solid red;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;

  }

  .section2-cont2 {
    border: 1px solid red;
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .s2box1 {
    border: 1px solid red;
    width: 160px;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    text-align: center;
  }

  .s2box2 {
    border: 1px solid red;
    width: 160px;
  }

  .s2box3 {
    border: 1px solid red;
    width: 160px;
  }

  .s2box4 {
    border: 1px solid red;
    width: 160px;
  }

  .image-place-small1 {
    background-color: grey;
    color: white;
    
    width: 160px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 160px;
    border: 1px solid #3882F6;
    border-radius: 15px;
  }

  .image-place-small2 {
    background-color: grey;
    color: white;
    
    width: 160px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 150px;
    border: 1px solid #3882F6;
    border-radius: 15px;
  }

  .image-place-small3 {
    background-color: grey;
    color: white;
    
    width: 160px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 150px;
    border: 1px solid #3882F6;
    border-radius: 15px;
  }

  .image-place-small4 {
    background-color: grey;
    color: white;
    
    width: 160px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 150px;
    border: 1px solid #3882F6;
    border-radius: 15px;
  }


